
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
img {
    vertical-align: middle;
}
body{
    background-color: #FBFBFB;
}
.container{
    margin: 0 auto;
    width: 1360px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
 nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
nav ul li a{
    color: black;
    font-size: 16px;
    font-weight: 500;
    
}
.nav__button{
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}



#hero{
    background: url(../assets/hero-bg.png) no-repeat center/cover;
    padding: 115.5px 0 179.5px 0;
}
.hero__section{
    text-align: center;
}
.hero__section .hb1{
    border: none;
    border-radius: 20px;
    background-color: white;
    padding: 9.5px 12px;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
}
.hero__section h1{
    margin-top: 24px;
    color: white;
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-transform: capitalize;
}
.hero__section h1 span{
    color: #469165;
}
.hero__section p{
    margin-top: 16px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
}
.hero__buttons{
    padding-top: 32px;
}
.hb2{
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background-color: #469165;
    color: white;
    border: none;
    margin-right: 16px;
}
.hb3{
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}



#ndsfd{
    padding-top: 70px;
}
.ndsfd__titel{
    text-align: center;
}
.ndsfd__titel h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-transform: capitalize;
}
.ndsfd__titel p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    color: #627382;
}

.ndsfd__cards{
    padding-top: 44px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.ndsfd__card{
    background-color: white;
    padding-top: 69.5px;
    text-align: center;
    max-width: 322px;
    max-width: 300px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.ndsfd__card__icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F95555;
    margin: 0 auto;
}
.ndsfd__card h3{
    text-transform: capitalize;
    margin-top: 16px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}
.ndsfd__card p{
    margin-top: 16px;
    padding-bottom: 69px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}







#ysbsbd{
    padding: 120px 0;
    background-color: white;
}
.ysbsbd__main{
    display: flex;
    gap: 60px;
}
.ysbsbd__content{
    padding-top: 102px;
}
.ysbsbd__content .ysbsbd__content__heading{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 16px;
}
.ysbsbd__content h2{
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 16px;
}
.ysbsbd__content p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;
}
.ysbsbd__content ul{
    margin-top: 40px;
    display: grid;
}
.ysbsbd__content ul li{
    margin-bottom: 16px;
}
.ysbsbd__content ul li:last-child{
    margin-bottom: 0;
}







.rttmc{
    background-color: #F7F6F2;
}
.rttmc__main{
    padding: 80px 0;
    text-align: center;
}
.rttmc__main h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
.rttmc__main h2 + p{
    margin: 16px 0 24px 0;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.rttmc__button{
    padding: 16px;
    border: none;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    margin-bottom: 16px;
}
.rttmc__button +p{
    margin-top: 16px;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
}






footer{
    background-color: #001931;
    
}
