@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
img {
    vertical-align: middle;
}
body{
    background-color: #FBFBFB;
}
.container{
    margin: 0 auto;
    width: 1360px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
 nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
nav ul li a{
    color: black;
    font-size: 16px;
    font-weight: 500;
    
}
.nav__button{
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition:.25s
}
.nav__button:hover{
    transform:translateY(-4px);
    background:transparent;
    border:1px solid black;
    color: #001931;
}


#hero{
    background: url(../assets/hero-bg.png) no-repeat center/cover;
    padding: 115.5px 0 179.5px 0;
}
.hero__section{
    text-align: center;
}
.hero__section .hb1{
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: white;
    padding: 9.5px 12px;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    transition:transform .2s ease, box-shadow .2s ease;
}
.hb1:hover{
    transform:translateY(-4px);
    box-shadow:0 8px 18px rgba(0,0,0,.25);
}
.hero__section h1{
    margin-top: 24px;
    color: white;
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-transform: capitalize;
}
.hero__section h1 span{
    color: #2faa64;
}
.hero__section p{
    margin-top: 16px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
}
.hero__buttons{
    padding-top: 32px;
}
.hb2{
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background-color: #469165;
    font-size: 16px;
    font-weight: 500;
    color: white;
    border: none;
    margin-right: 16px;
    cursor: pointer;
    transition:.25s
}
.hb2:hover{
    transform:translateY(-4px);
    background:transparent;
    border:1px solid #fff;
}
.hb3{
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    height: 44px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    transition:.25s
}
.hb3:hover{
    transform:translateY(-4px);
    background:#469165;
    border:none;
}


#ndsfd{
    padding-top: 70px;
}
.ndsfd__titel{
    text-align: center;
}
.ndsfd__titel h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-transform: capitalize;
}
.ndsfd__titel p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    color: #627382;
}

.ndsfd__cards{
    padding-top: 44px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.ndsfd__card{
    background-color: white;
    padding-top: 69.5px;
    text-align: center;
    width: 322px;
    max-height: 300px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.ndsfd__card__icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F95555;
    margin: 0 auto;
}
.ndsfd__card h3{
    text-transform: capitalize;
    margin-top: 16px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}
.ndsfd__card p{
    margin-top: 16px;
    padding-bottom: 69px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}







#ysbsbd{
    padding: 120px 0;
    background-color: white;
}
.ysbsbd__main{
    display: flex;
    gap: 60px;
}
.ysbsbd__content{
    padding-top: 102px;
}
.ysbsbd__content .ysbsbd__content__heading{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 16px;
}
.ysbsbd__content h2{
    text-transform: capitalize;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 16px;
}
.ysbsbd__content p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;
}
.ysbsbd__content ul{
    margin-top: 40px;
    display: grid;
}
.ysbsbd__content ul li{
    margin-bottom: 16px;
}
.ysbsbd__content ul li:last-child{
    margin-bottom: 0;
}







.rttmc{
    background-color: #F7F6F2;
    margin-bottom: 120px;
}
.rttmc__main{
    padding: 80px 0;
    text-align: center;
}
.rttmc__main h2{
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
.rttmc__main h2 + p{
    margin: 16px 0 24px 0;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.rttmc__button{
    cursor: pointer;
    padding: 16px;
    border: none;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    margin-bottom: 16px;
    transition:.25s
}

.rttmc__button:hover{
    transform:translateY(-4px);
  background:transparent;
  color: #627382;
  border:1px solid black;
}
.rttmc__button +p{
    margin-top: 16px;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
}






footer{
    background-color: #001931;

}
.footer__container{
    padding: 120px 0 80px 0;
    display: flex;
    justify-content: space-between;
}
.footer__content p{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 16px;
}
.footer__content ul{
    display: flex;
    gap: 16px;
}
.footer__content ul li a{
    color: white;
    font-size: 17px;
}
footer hr{
    border: none;
    border-top: 2px solid #2e4256; 
}
footer .copyright{
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding: 30px 0;
}